<div class="top-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-2 p-0">
        <div class="full-block left px-3">
          <a  href="/">
            <img class="main-logo" src="{{origin}}/-/jssmedia/phrjss/data/media/images/common-control-content/logo/white_wave_logo.png?h=54&amp;iar=0&amp;w=807&amp;hash=A59142DE12D9A5C179EABC52F9D3FA8B">
          </a>
        </div>
      </div>

      <div class="col-md-6 p-0 header-search">
        <div class="full-block right">
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</div>
<div class="mid-nav justify-content-between">
  <div class="container">
    <div class="row" style="position: relative;">
    </div>
  </div>
</div>
<div class="container container-fluid p-4">
  <div class="row not-found">
    <div class="col-md-5 col-sm-12">
      <img class="text-center" alt="Not Found" width="276" height="574"
        src="{{origin}}/-/jssmedia/phrjss/data/media/images/notFound/robot_404.png?h=574&amp;iar=0&amp;w=276&amp;hash=753D7F2ACF44AB8698836B1C4FCACCDC">
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="col-md-12">
        <div class="error-title">Oops! 404</div>
      </div>
      <div class="col-md-12">
        <div class="error-label">We can’t seem to find the page you’re looking for.</div>
      </div>
      <div class="col-md-12 mt-5">
        <div class="font-md font-medium">
          <p>Here are some helpful links instead:</p>
          <p><a href="/">Home</a></p>
          <p><a href="/Search">Search</a></p>
          <p><a href="/Contact-Us">Contact Us</a> <br class="t-last-br">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
