<div class="wrapper mt-5">
  <div class="container">
    <div>
      <h3>USP &lt;621&gt; Allowable Adjustments of Chromatographic conditions – Gradient Elution</h3>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th width="25%">Component</th>
            <th width="17%">As per USP</th>
            <th width="17%">Adjustable from</th>
            <th width="16%">Adjustable to</th>
            <th width="25%">Limit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="vertical-align: middle;">Mobile Phase Gradient Changes</td>
            <td colspan="4">
              <p class="event_desc" align="center">Changes to gradient composition are not recommended</p>
            </td>

          </tr>
          <tr>
            <td>Mobile Phase pH</td>
            <td>
              <input class="input-num" type="text" min="0" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 0 ? this.value : null" [(ngModel)]="mobilePhasePhA">
              <span style="color: #f00;">{{mobilePhasePhAV()}}</span>
            </td>
            <td>{{getDecimalValue(mobilePhasePhAF().toFixed(2))}}</td>
            <td>{{getDecimalValue(mobilePhasePhAT().toFixed(2))}}</td>
            <td>±0.2 units</td>
          </tr>
          <tr>
            <td>Buffer Concentration (mM)</td>
            <td>
              <input class="input-num" type="text" min="0" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 0 ? this.value : null" [(ngModel)]="bufferConcentrationA">
              <span style="color: #f00;">{{bufferConcentrationAV()}}</span>
            </td>
            <td>{{getDecimalValue(bufferConcentrationAF().toFixed(2))}}</td>
            <td>{{getDecimalValue(bufferConcentrationAT().toFixed(2))}}</td>
            <td>±10%</td>
          </tr>
          <tr>
            <td>Column Temperature (°C)</td>
            <td>
              <input class="input-num" type="text" min="0" oninput="this.value = 
 !!this.value && Math.abs(this.value) >= 0 ? this.value : null" [(ngModel)]="columnTempA">
              <span style="color: #f00;">{{columnTempAV()}}</span>
            </td>
            <td>{{getDecimalValue(columnTempAF().toFixed(2))}}</td>
            <td>{{getDecimalValue(columnTempAT().toFixed(2))}}</td>
            <td>±10°C</td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Flow Rate (mL/min)</td>
            <td colspan="4">
              <p class="event_desc" align="center">Changes to flow rate are not allowed.</p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Column Length (mm)</td>
            <td colspan="4">
              <p class="event_desc" align="center">Changes to column length, particle size, or inner diameter are not
                allowed.</p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Column Inner Diameter (mm)</td>
            <td colspan="4">
              <p class="event_desc" align="center">Changes to column length, particle size, or inner diameter are not
                allowed.</p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Particle Size (µm)</td>
            <td colspan="4">
              <p class="event_desc" align="center">Changes to column length, particle size, or inner diameter are not
                allowed.</p>
            </td>
          </tr>
          <tr>
            <td style="vertical-align: middle;">Stationary Phase</td>
            <td colspan="4">
              <p class="event_desc" align="center">No change of the identity of the substituent permitted.</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td colspan="5">
              <p class="event_desc" align="center"><b>Choose pharma columns for your analysis</b></p>
            </td>
          </tr>
          <tr>
            <td width="15%">Choose USP column listing</td>
            <td width="20%">
              <mat-select class="form-control" [(ngModel)]="recomended" style="width:90%">
                <mat-option value="">Choose...</mat-option>
                <mat-option *ngFor="let item of uspTools" [value]="item">{{item.Classification}}</mat-option>
              </mat-select>
            </td>
            <td width="40%">{{recomended?.Description}}</td>
            <td width="35%" colspan="2">
              <ul *ngIf="recomended?.Recommendation">
                <li *ngFor="let key of objectkeys(recomended?.Recommendation)">
                  <a [href]="recomended.Recommendation[key]" target="_blank">{{key}}</a>
                </li>
              </ul>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>