<button type="button" class="float-right btn btn-close" aria-label="Close" (click)="activeModal.dismiss('close')">
  <i class="material-icons material-icons-outlined">close</i>
</button>
<div class="modal-body">
  <div class="title p-0 mb-2">
    Pulling your files
  </div>
  <p>
    Any requested documents may take up to 24 hours to display online.
  </p>
  <p>
    An email alert will be sent to &lt;{{claims['emails'][0]}}&gt; the moment that each of your documents is available.
  </p>
  <p>
    Didn't receive the email? <a href="javascript:void(0)" routerLink="/contact-us" (click)="activeModal.close()">Contact us.</a>
  </p>

</div>
<div class="modal-footer d-block clearfix">
  <button type="button" class="btn btn-primary btn-sm pull-right" (click)="activeModal.close()">Close</button>
</div>
