// Brand Info
.lunalogo{
  padding-top: 10px;
}
.lunabanner{
  margin-top: 20px;
  width:100%;
}
.header{
  
  font-weight: 700;
  font-style: normal;
  font-size:18px;
  color: #57585A;
}
.headerTwo{
  
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 0px;
}
.text{
  
  font-weight: 400;
  line-height:22px;
  margin-bottom: 0px;
}
ul{
  
  font-weight: 400;
  line-height:22px;
  padding: 0 0 0 20px;
  li{
    
    font-weight: 400;
    line-height: 22px;
  }
}
.body-text{
  padding-top:30px;
}
.explore-btn{
  border: 1px solid #587DFF;
  font-weight: 700;
  background-color: white;
  color: #587DFF;
  font-size: 14px;
  padding: 10px 18px;
}
