.tracking-number {
  color: #007bff;
}

.order-tracking {
  padding: 40px 40px 20px 40px;
  max-height: 90vh;

  .order-list {
    overflow-y: scroll;
    max-height: 550px;
  }

  ::-webkit-scrollbar {
    width: 8px;
    padding-left: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(165, 165, 165);
    border-radius: 10px;
  }
}
