.no-padding{
    padding:0;
  }
  #main-image{
    text-align:center;
  }
  
  .background-grey{
    background-color:#F0F0F0;
  }
  
  // Intro
  .main{
    padding-top:120px;
    padding-bottom:120px;
    h1{
      text-align: center;
      
      font-weight: 500;
      font-style: normal;
      font-size: 3.1rem;
      color:#444444;
    }
    p{
      text-align: center;
      
      font-weight: 500;
      font-style: normal;
      color:#9F9F9F;
    }
  }
  
  //Eight
  .eight{
    padding:0px 0px 50px 0;
    .content{
      text-align:center;
      background-color: #ffffff;
      
      font-weight: 500;
      padding: 0px 0px 20px 0px;
      img{
        padding: 15px;
  
      }
      h1{
        width: 80%;
        text-align: center;
        font-size: 43px;
        margin: 0px auto;
      }
      p{
        font-size: 17px;
        width: 80%;
        text-align: center;
        color: #9F9F9F;
        margin: 0px auto 0px auto;
      }
  
    }
  }
  