


<script>


</script>


<!--mg text for fluid image and text-->


<!--start MG Code for text in banner and header-->

<div _ngcontent-c2="" class="container-fluid no-padding pos-r">

  <!--<img id="main-image" class="img-fluid" *scImage="rendering.fields.relatedImage">-->
  <div class="about-us-video-header">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="{{videoSourceURL.value}}" type="video/mp4">
    </video>

<!--endabout us video header-->
</div>
<div *scRichText="rendering.fields.videoTitle" class="about-us-header-video-text-container">

  <!-- <span class="text-line-break small-text">Our Mission</span>
  <h1 class="text-line-break big-text">We Aspire to be</h1>
  <h1 class="text-line-break big-text">A Scientific Company</h1>
  <h1 class="text-line-break big-text">Like No Other</h1> -->


<!-- end image-text container-->
          </div>

	<!--end container-fluid-->
           </div>
