<div class="container">
  <div class="title" *scText="rendering.fields.heading"></div>
  <div class="tabs">
    <ul>
      <li class="active"><a href="/about-us/news/Press-Release/2019">Press Release</a></li>
      <li><a href="/Publications">Publications</a></li>
      <li><a href="/press-room">Media Contact</a></li>
    </ul>
  </div>
</div>
<div class="dates-wrapper">
  <div class="container">
    <div class="dates">
        <ul>
          <li class="active">2019</li>
          <li>2018</li>
          <li>2017</li>
        </ul>
      </div>
  </div>
</div>


<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="press-grid">
              <div class="item">
                <div class="item__content">
                  <img *scImage="rendering.fields.ImageOne">
                  <div class="text">
                    <p class="date">October 31, 2019</p>
                    <p class="press-title">pharma Announces Direct Sales and Support in Poland</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item__content">
                  <img *scImage="rendering.fields.ImageOne">
                  <div class="text">
                    <p class="date">October 31, 2019</p>
                    <p class="press-title">pharma Announces Direct Sales and Support in Poland</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item__content">
                  <img *scImage="rendering.fields.ImageOne">
                  <div class="text">
                    <p class="date">October 31, 2019</p>
                    <p class="press-title">pharma, Inc. Improves Immunocapture Workflow by Offering New Magnetic Beads</p>
                  </div>
                </div>
              </div>
          </div>
          <button class="load-btn">Load More</button>
      </div>
    </div>
  </div>
</div>
