$font-family: proxima-nova, sans-serif;
$font-color: #57585A;
$font-hover-color: #37383A;
$color-highlight: #587dff;
$color-highlight-hover: #3c66ff;
$dark-blue: #0060a8;
$theme-blue: #002948;
$theme-dark-bg: #070A15;
$heading-light-blue: #9DA8D0;
