<div
style="background-color: rgba(0, 0, 0, 0.05); padding: 20px 0;">
  <div class="container">
    <div class="title">Luna Documents</div>
    <div class="row">
      <div class="col-md-4">
        <div class="item">
          <img *scImage="rendering.fields.testimage" class="cover img-fluid" />
          <h5>Protein Precipitation Certificate of Quality Assurance</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <img *scImage="rendering.fields.testimage" class="cover img-fluid" />
          <h5>Protein Precipitation Certificate of Quality Assurance</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="item">
          <img *scImage="rendering.fields.testimage" class="cover img-fluid" />
          <h5>Protein Precipitation Certificate of Quality Assurance</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="docs-table">
          <div class="docs-table__results">
            <div class="docs-table__results--search"><a [routerLink]="['/documents/library']">Search all Documents ></a></div>
          </div>
          <table class="docs-table__table">
            <tr>
              <th>Type</th>
              <th>Document Title</th>
            </tr>
            <tr>
              <td>Technical Notes</td>
              <td><a href="/">Luna: One of the World's Leading HPLC Columns</a></td>
            </tr>
            <tr>
              <td>Technical Notes</td>
              <td><a href="/">Luna: One of the World's Leading HPLC Columns</a></td>
            </tr>
            <tr>
              <td>Technical Notes</td>
              <td><a href="/">Luna: One of the World's Leading HPLC Columns</a></td>
            </tr>
          </table>
        </div>
        <table>

        </table>
      </div>
    </div>
  </div>
</div>
